models/crowdhuman.hef
hailort.log
models/yolov8s.pt
dist/
.env
.DS_Store
services/__pycache__
venv
yolov8s.pt
hailort.1.log

minimart/dashboard/.next
minimart/dashboard/node_modules
minimart/services/__pycache__/
minimart/infrastructure/__pycache__/

