models/crowdhuman.hef
hailort.log
models/yolov8s.pt
dist/
.env
.DS_Store
services/__pycache__
venv
yolov8s.pt
hailort.1.log

dashboard/.next
dashboard/node_modules
services/__pycache__/
infrastructure/__pycache__/
domain/__pycache__/
deploy-to-official.sh
