models/crowdhuman.hef
hailort.log
models/yolov8s.pt
dist/
.env
.DS_Store
services/__pycache__
venv
yolov8s.pt
hailort.1.log

minimart_final/dashboard/.next
minimart_final/dashboard/node_modules
minimart_final/services/__pycache__/
minimart_final/infrastructure/__pycache__/

