services: 
  minimart-tracker:
    build: .
    container_name: minimart_rpi_sim
    network_mode: host 
    volumes:
      - .:/app
      - ./models:/app/models
      - /dev/shm:/dev/shm
    environment:
      - FLASK_ENV=development
      - CAMERA_STREAM_URL=tcp://127.0.0.1:8888
      - USE_REMOTE_DETECTOR=true 
    restart: unless-stopped