services:
  minimart-tracker:
    build: .
    container_name: minimart_rpi_sim
    # Lets container talk to the stream on localhost:8888
    network_mode: host 
    volumes:
      - .:/app
      - ./models:/app/models
      # Map shared memory for OpenCV performance
      - /dev/shm:/dev/shm
    environment:
      - FLASK_ENV=development
      # Point to local stream
      - CAMERA_STREAM_URL=tcp://127.0.0.1:8888

    restart: unless-stopped