POSTGRES_DB=minimart_db
POSTGRES_USER=minimart_user
POSTGRES_PASSWORD=minimart_password
POSTGRES_PORT=5432

DB_HOST=localhost
DB_PORT=5432
DB_NAME=minimart_db
DB_USER=minimart_user
DB_PASSWORD=minimart_password

S3_BUCKET=minimar-data-1
S3_SENSOR_PREFIX=sensor/
S3_CAMERA_PREFIX=camera/

IOT_SENSOR_ENDPOINT=
SENSOR_CLIENT_ID=
SENSOR_TOPIC=

IOT_CAMERA_ENDPOINT=
CAMERA_CLIENT_ID=
CAMERA_TOPIC=